#brandformcontent>div {
  min-height: 120px;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#brandformcontent img {
  margin-top :auto;
  margin-bottom: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 120px;
}
#popup {
  height : 50px;
  background-color:blue;
}
#brandnav a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height:40px;
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 0;
  padding-right: 0;
}
#brand-bar-modal-body {
  padding: 0;
}
#brand-bar-modal-dialog {
  margin: 0;
  width: 100%;
  max-width: none;
  position: relative;
  top: 0px;
}
#brand-bar-modal-content {
  border: 0;
}
