#menu {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    z-index: 50;
}

#menu-button {
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    height: 50px;
    width: 50px;
    font-size: 40px;
    padding: 0;
    padding-bottom: 8px;
    border-radius: 50%;
}

#menu-button:after {
    content: '?';
}

#menu:hover #menu-button:after {
    content: '-';
}

#menu:hover #menu-button {
    background-color: rgba(0,0,0,.75);
    line-height: 0px;
}

#menu ul {
    display: none;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 16px;
}

#menu ul li {
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin-top: 6px;
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;
    white-space: nowrap;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#menu ul li:hover {
    background-color: rgba(0,0,0,.75);
}

#menu:hover > ul {
    display: block;
}

#menu li > ul {
    display: none;
    position: absolute;
    left: 100%;
    top: -6px;
    padding-left: 6px;
}

#menu li:hover > ul {
    display: inline-block;

}
